# requirements.txt
python-binance @ https://github.com/sammchardy/python-binance/archive/refs/tags/v1.0.19.tar.gz
python-kucoin @ https://github.com/sammchardy/python-kucoin/archive/refs/tags/v2.0.2.tar.gz
TA-Lib==0.4.24
pandas==1.5.3
numpy==1.24.4
matplotlib==3.7.1
schedule==1.2.0
python-dotenv==1.0.0
requests==2.31.0
